<table>
	<tr> 
		<th> ID   </th>
		<th> Name </th>
		<th> Quantity </th>
		<th> Price </th>
	</tr>
    <% @items.each do |item| %>
		<tr>
			<td> <%= item.id %> </td>
			<td> <%= item.name %> </td>   
			<td> <%= item.stock_quantity %> </td>
			<td> <%= item.marked_price %> </td>
		</tr>
    <% end %>
</table>